@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #3e3e3e;
  background: #fafafa;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 300;
}
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: #004e72;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}
p {
  margin-top: 0;
}
b {
  font-weight: 500;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after {
  content: "";
  display: table;
  clear: both;
}
/* Utility
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
/* LESS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* CTcue Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#navigation {
  margin-top: 40px;
}
.logo {
  float: left;
}
nav {
  width: 560px;
  margin: 0 auto;
  text-align: center;
}
nav a {
  font-size: 1.6rem;
  color: #b0b0b0;
  text-decoration: none;
  margin-right: 60px;
  line-height: 65px;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
nav a:hover {
  color: #3e3e3e;
}
nav a:last-of-type {
  margin-right: 0;
}
nav .active {
  color: #3e3e3e;
}
.login-app {
  color: #03A9F4;
  text-decoration: none;
  line-height: 65px;
  float: right;
  font-size: 1.6rem;
}
#page-header {
  margin-top: 75px;
}
#page-header h1 {
  font-size: 5.6rem;
}
#page-header p {
  font-size: 2.0rem;
  width: 95%;
  margin-top: 40px;
}
#page-header .cta-container {
  width: 100%;
  height: 55px;
  line-height: 55px;
  margin-top: 40px;
}
.button {
  width: 252px;
  height: 47px;
  line-height: 47px;
  display: block;
  font-size: 2.0rem;
  color: #03a9f4;
  text-transform: uppercase;
  border: 4px solid #03a9f4;
  text-decoration: none;
  text-align: center;
  margin-right: 40px;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.button:hover {
  background-color: #03a9f4;
  color: #fff;
}
.link {
  width: 160px;
  font-size: 2.0rem;
  color: #60ccfd;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.link:hover {
  color: #03a9f4;
}
.half {
  width: 48%;
}
.half img {
  max-width: 100%;
  height: auto;
}
#about {
  margin-top: 75px;
  background-color: #e8ebf0;
  text-align: center;
  background-image: url('../img/about-background.png');
  background-repeat: no-repeat;
  background-position: 60px -5px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #about {
    background-image: url("../img/about-background@2x.png");
    background-size: 400px auto;
  }
}
#about h1 {
  font-size: 3.0rem;
  width: 80%;
  margin: 0 auto;
  padding: 75px 0;
  line-height: 70px;
  color: #004e72;
}
#autosuggest {
  padding: 75px 0;
}
#autosuggest .vertical-align {
  display: table;
  overflow: hidden;
  height: 359px;
}
#autosuggest .vertical-align div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#autosuggest .vertical-align h1 {
  font-size: 3.6rem;
  line-height: 50px;
  margin-bottom: 40px;
}
#autosuggest .vertical-align p {
  font-size: 2.0rem;
}
#vision {
  padding: 75px 0;
  text-align: center;
  background-color: #e8ebf0;
  background-image: url('../img/vision-background.png');
  background-repeat: no-repeat;
  background-position: 95% center;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #vision {
    background-image: url("../img/vision-background@2x.png");
    background-size: 380px auto;
  }
}
#vision h1 {
  font-size: 5.0rem;
  margin-bottom: 40px;
}
#vision p {
  font-size: 1.6rem;
  max-width: 960px;
  margin: 0 auto;
  line-height: 40px;
}
#partners {
  padding: 75px 0;
  text-align: center;
}
#partners h1 {
  margin-bottom: 40px;
}
#partners .half {
  width: 49%;
  margin: 0 auto 40px auto;
}
#partners .half img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 40px;
}
#partners .half img:last-of-type {
  margin-right: 0;
}
#team {
  padding: 75px 0;
  background-color: #e8ebf0;
  background-image: url('../img/team-background.png');
  background-repeat: no-repeat;
  background-position: 60px bottom;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #team {
    background-image: url("../img/team-background@2x.png");
    background-size: 560px auto;
  }
}
#team .vertical-align {
  display: table;
  overflow: hidden;
  height: 638px;
}
#team .vertical-align div {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
#team .vertical-align h1 {
  margin-bottom: 40px;
}
#team .vertical-align p {
  font-size: 1.6rem;
  line-height: 40px;
}
#team .team-member {
  float: left;
  max-width: 158px;
  margin-right: 40px;
  margin-bottom: 40px;
  text-align: center;
}
#team .team-member img {
  width: 100%;
  margin-bottom: 20px;
}
#team .team-member h2 {
  color: #004e72;
  font-size: 2.0rem;
  margin-bottom: 20px;
}
#team .team-member p {
  font-size: 2.0rem;
  color: #7DA4B6;
  margin: 0;
  line-height: 24px;
}
#team .team-member:nth-child(3) {
  margin-right: 0;
}
#call-to-action {
  text-align: center;
}
#call-to-action h1 {
  font-size: 3.0rem;
  width: 80%;
  margin: 0 auto;
  padding: 75px 0;
  line-height: 70px;
  color: #004e72;
}
#call-to-action .cta-container {
  width: 52%;
  height: 55px;
  margin: 0 auto;
}
#autosuggest .pull-left {
  margin-top: 60px;
}
.text-right {
  text-align: right;
}
.autocomplete-results,
.form-field > input {
  width: 80%;
  padding: 20px 0 20px 24px;
  border: 1px solid #ddd;
}
.autocomplete-results {
  margin-top: 12px;
  background: #fff;
  padding-top: 14px;
  padding-bottom: 0px;
}
.autocomplete-results h4 {
  font-size: 1em;
  color: #aaa;
}
.autocomplete-results li {
  padding: 6px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;
  margin-left: -24px;
  padding-left: 24px;
}
.form-field {
  position: relative;
}
.form-field > input {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  display: block;
  padding-top: 40px;
  outline: 0;
}
.form-field > label {
  position: absolute;
  top: 20px;
  left: 25px;
  color: #428bca;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.form-field .label-default {
  color: #afafaf;
  opacity: 0;
}
.form-field .typing + label {
  top: 12px;
  color: #03a9f4;
  opacity: 1;
}
