<!DOCTYPE html>
<html>
  <head>
    <title>CTcue</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/angular.min.js"></script>
    <script src="js/ctAutocomplete.js"></script>
  </head>

  <body ng-app="ctSite">
    <div id="navigation">
      <div class="container">
        <img class="logo" src="img/ctcue-logo.png" alt="CTcue">

        <a href="" class="login-app">Login</a>

        <nav>
          <a href="#" class="active">CTcue</a>
          <a href="#vision">Vision</a>
          <a href="#team">Team</a>
          <a href="#partners">Partners</a>
          <a href="#contact">Contact</a>
        </nav>
      </div>
    </div>

    <div id="page-header">
      <div class="container">
        <div class="half pull-left">
          <h1>Find the right patients, faster and easier</h1>

          <p class="lead">CTcue is fully compliant and takes care of the IT headache to return structured results</p>

          <div class="cta-container">
            <a href="" class="button pull-left">Get started</a>
            <a href="" class="link">Learn more</a>
          </div>
        </div>

        <div class="half pull-right">
          <img src="img/screen-placeholder.png" alt="CTcue Results">
        </div>
      </div>
    </div>

    <section id="about">
      <div class="container">
        <h1>Efficiently unleash cross-media information without cross-media value.
        Quickly maximize timely deliverables for real-time schemas.
        Unleash cross-media information without cross-media maximum value.</h1>
      </div>
    </section>

    <section id="autosuggest">
      <div class="container">
        <div class="half pull-left" ng-controller="ctAutocomplete">
            <div class="form-field">
                <input
                  id="apiInput"
                  type='text'
                  autocomplete='off'
                  placeholder='Search through our knowledge base'
                  ng-model='__selected'
                  typing='APIsuggestions(__selected, item.name)'
                  ng-class='{ typing: __selected.length > 1 }'>

                <label ng-sho="__selected" for="apiInput" class="label-default">
                  Search through our knowledge base
                </label>

            </div>

            <div class='full' ng-if='__noResult'>
                <h4>No results found for <b>{{ __selected }}</b>.</h4>
            </div>

            <div class="full autocomplete-results" ng-if='__hits.length'>
              <h4>Results for <b>{{ __selected }}</b> found in {{ __took }}ms</h4>

              <ul class='simple'>
                <li class='autosuggest-item'
                  ng-repeat="obj in __hits | limitTo: 5" ng-click='onSelect(obj, "name")'>
                  {{ obj.str }}
                </li>
              </ul>
            </div>
        </div>

        <div class="half pull-right vertical-align">
          <div class="text-right">
            <h1>Try out our knowledgebase for medical terms and synonyms</h1>

            <p>This is what we use to make our searches more reliable and complete so we can get the best results.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="vision">
      <div class="container">
        <h1>Better healthcare for everyone</h1>

        <p>Taco bell chihuahua playa troll dolls gettin jiggy wit it Y2K, hotmail aaahh real monsters zebra stripes ring pop catsuit wesley snipes. Mia hamm animated gifs discovery zone fly chandler bing, sega genesis dolly the sheep vhs slap bracelet acid wash furby. Schindlers list baywatch mario lemieux dsl roseanne doug. </p>
      </div>
    </section>

    <section id="partners">
      <div class="container">
        <h1>Our partners</h1>

        <div class="half">
          <img src="img/partners/UMCU.png" alt="Universitair Medisch Centrum Utrecht">
          <img src="img/partners/Spaarne.png" alt="Spaarne Gasthuis">
          <img src="img/partners/Isala.png" alt="Isala">
        </div>

        <div class="half">
          <img src="img/partners/Janssen.png" alt="Janssen Pharmaceuticals">
          <img src="img/partners/Quintiles.png" alt="Quintiles">
        </div>

        <div class="half">
          <img src="img/partners/Sanofi.png" alt="Sanofi">
          <img src="img/partners/Amgen.png" alt="Amgen">
          <img src="img/partners/GSK.png" alt="GlaxoSmithKline">
        </div>

        <div class="half">
          <img src="img/partners/EY.png" alt="EY">
          <img src="img/partners/HVG.png" alt="HVG">
        </div>
      </div>
    </section>

    <section id="team">
      <div class="container">
        <div class="half pull-left vertical-align">
          <div>
            <h1>Meet the team</h1>

            <p>Taco bell chihuahua playa troll dolls gettin jiggy wit it Y2K, hotmail aaahh real monsters zebra stripes ring pop catsuit wesley snipes. Mia hamm animated gifs discovery zone fly chandler bing.</p>
          </div>
        </div>

        <div class="half pull-right">
          <div class="team-member">
            <img src="img/team/roel-lakmaker.png" alt="Roel Lakmaker">

            <h2>Roel Lakmaker</h2>

            <p>Founder</p>
            <p>CEO</p>
          </div>

          <div class="team-member">
            <img src="img/team/jochem-de-boer.png" alt="Jochem de Boer">

            <h2>Jochem de Boer</h2>

            <p>Co-founder</p>
            <p>CTO</p>
          </div>

          <div class="team-member">
            <img src="img/team/fabien-tesselaar.png" alt="Fabien Tesselaar">

            <h2>Fabien Tesselaar</h2>

            <p>Full Stack Developer</p>
          </div>
        </div>

        <div class="half pull-right">
          <div class="team-member">
            <img src="img/team/nick-visser.png" alt="Nick Visser">

            <h2>Nick Visser</h2>

            <p>Frontend Developer</p>
          </div>

          <div class="team-member">
            <img src="img/team/mike-van-rossum.png" alt="Mike van Rossum">

            <h2>Mike van Rossum</h2>

            <p>Full Stack Developer</p>
          </div>
        </div>
      </div>
    </section>

    <section id="call-to-action">
      <div class="container">
        <h1>Efficiently unleash cross-media information without cross-media value.
        Quickly maximize timely deliverables for real-time schemas.
        Unleash cross-media information without cross-media maximum value.</h1>

        <div class="cta-container">
          <a href="" class="button pull-left">Try now</a>
          <a href="" class="button pull-right">Contact us</a>
        </div>
      </div>
    </section>

    <script src="js/retina.min.js"></script>
  </body>
</html>