<div id="navigation">
  <div class="container">
    <a href="https://ctcue.com">
        <img class="logo" src="{{asset "img/logo.png"}}" alt="CTcue" data-no-retina>
    </a>

    <a href="https://ctcue.com/app/#/" class="login-app">Login</a>

    <a href="https://ctcue.com/#team" class="login-app hiring">We're Hiring!</a>

    <div id="nav-bar">
      <a href="https://ctcue.com/#ctcue">CTcue</a>
      <a href="https://ctcue.com/#compliance">Compliance</a>
      <a href="https://ctcue.com/#early-adopters">Early adopters</a>
      <a href="https://ctcue.com/#team">Team</a>
      <a href="../" class="active">Blog</a>
      <a href="https://ctcue.com/#contact">Contact</a>
    </div>

    <div class="mobile-nav-container">
      <button class="lines-button arrow arrow-left" type="button" role="button" aria-label="Toggle Navigation">
        <span class="lines"></span>
      </button>
    </div>
  </div>

  <div id="mobile-nav">
    <a href="https://ctcue.com/#ctcue">CTcue</a>
    <a href="https://ctcue.com/#compliance">Compliance</a>
    <a href="https://ctcue.com/#early-adopters">Early adopters</a>
    <a href="https://ctcue.com/#team">Team - We're hiring!</a>
    <a href="../">Blog</a>
    <a href="https://ctcue.com/#contact">Contact</a>
  </div>
</div>