@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* LESS Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Import the font file with the icons in it */
@font-face {
  font-family: "casper-icons";
  src: url("../fonts/casper-icons.eot?v=1");
  src: url("../fonts/casper-icons.eot?v=1#iefix") format("embedded-opentype"), url("../fonts/casper-icons.woff?v=1") format("woff"), url("../fonts/casper-icons.ttf?v=1") format("truetype"), url("../fonts/casper-icons.svg?v=1#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Apply these base styles to all icons */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "casper-icons", "Open Sans", sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "\f602";
  font-size: 1.1em;
}
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  color: #3e3e3e;
  background: #fafafa;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 300;
}
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  color: #004e72;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
  color: #004e72;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}
/* Larger than phablet */
/*@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}*/
p {
  margin-top: 0;
}
b {
  font-weight: 500;
}
/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container:after,
.row:after,
.center:after,
.autosuggest-item:after {
  content: "";
  display: table;
  clear: both;
}
/* Utility
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 320px) {
  .container {
    max-width: 300px;
    padding: 0 10px;
    margin: 0 auto;
  }
  .half {
    width: 100%;
  }
  .half img {
    max-width: 100%;
    height: auto;
  }
  #nav-bar {
    display: none;
  }
  .login-app {
    display: none;
  }
  /* Mobile navigation
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .mobile-nav-container {
    display: block;
  }
  #mobile-nav {
    display: none;
    width: 100%;
    background: #fafafa;
    position: relative;
    z-index: 10;
  }
  .lines-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    padding: 1.75rem 0.875rem;
    transition: .3s;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    border-radius: 0.5rem;
    background: none;
    outline: none;
    border: none;
    margin-top: 5px;
    float: right;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* prevent tap highlight color / shadow */
  }
  .lines-button:hover {
    opacity: 1;
  }
  .lines-button:active {
    transition: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  .mixin-line {
    display: inline-block;
    width: 3.5rem;
    height: 0.5rem;
    background: #03a9f4;
    border-radius: 0.25rem;
    transition: 0.3s;
  }
  .lines {
    display: inline-block;
    width: 3.5rem;
    height: 0.5rem;
    background: #03a9f4;
    border-radius: 0.25rem;
    transition: 0.3s;
    position: relative;
    /*create the upper and lower lines as pseudo-elements of the middle line*/
  }
  .lines:before,
  .lines:after {
    display: inline-block;
    width: 3.5rem;
    height: 0.5rem;
    background: #03a9f4;
    border-radius: 0.25rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.25rem center;
  }
  .lines:before {
    top: 0.875rem;
  }
  .lines:after {
    top: -0.875rem;
  }
  .lines-button.close .lines {
    /*hide the middle line*/
    background: transparent;
    /*overlay the lines by setting both their top values to 0*/
  }
  .lines-button.close .lines:before,
  .lines-button.close .lines:after {
    transform-origin: 50% 50%;
    top: 0;
    width: 3.5rem;
  }
  .lines-button.close .lines:before {
    -ms-transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
  }
  .lines-button.close .lines:after {
    -ms-transform: rotate3d(0, 0, 1, -45deg);
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
  }
  #mobile-nav {
    width: 100%;
    text-align: center;
  }
  #mobile-nav a {
    display: inline-block;
    width: 100%;
    color: #004e72;
    font-size: 2.0rem;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #e8ebf0;
  }
}
/* Larger than mobile */
@media (min-width: 400px) {
  .container {
    max-width: 360px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .half {
    width: 100%;
  }
  .half img {
    max-width: 100%;
    height: auto;
  }
  #nav-bar {
    display: none;
  }
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .container {
    max-width: 510px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .half {
    width: 100%;
  }
  .half img {
    max-width: 100%;
    height: auto;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  .mobile-nav-container {
    display: block;
  }
  #nav-bar {
    display: none;
    width: 590px;
    margin: 0 auto;
    text-align: center;
  }
  #nav-bar a {
    font-size: 1.6rem;
    color: #b0b0b0;
    text-decoration: none;
    margin-right: 35px;
    line-height: 65px;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    transition: color 0.5s ease;
    outline: none;
  }
  #nav-bar a:hover {
    color: #3e3e3e;
  }
  #nav-bar a:last-of-type {
    margin-right: 0;
  }
  #nav-bar .active {
    color: #3e3e3e;
  }
  .container {
    max-width: 710px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .half {
    width: 100%;
  }
  .half img {
    max-width: 100%;
    height: auto;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .login-app {
    display: block;
  }
  .hiring {
    margin-right: 25px;
  }
  .mobile-nav-container {
    display: none;
  }
  #nav-bar {
    display: block;
  }
  .container {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .half {
    width: 48%;
  }
  .half img {
    max-width: 100%;
    height: auto;
  }
}
/* Larger than Desktop HD */
@media (min-width: 1200px) {
  .hiring {
    margin-right: 90px;
  }
  .container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
  }
  .half {
    width: 48%;
  }
  .half img {
    max-width: 100%;
    height: auto;
  }
  .full {
    display: block;
    width: 100%;
  }
}
/* CTcue Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#navigation {
  padding-top: 40px;
}
#navigation .back {
  float: right;
  font-size: 1.6rem;
  line-height: 75px;
  color: #2ebcfc;
  display: block;
  cursor: pointer;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
  text-decoration: none;
}
#navigation .back:hover {
  color: #0286c2;
}
.logo {
  float: left;
  max-width: 50px;
  height: auto;
}
.login-app {
  color: #03A9F4;
  text-decoration: none;
  line-height: 65px;
  float: right;
  font-size: 1.6rem;
}
.button {
  width: 252px;
  height: 47px;
  line-height: 47px;
  display: block;
  font-size: 2.0rem;
  color: #03a9f4;
  text-transform: uppercase;
  border: 4px solid #03a9f4;
  text-decoration: none;
  text-align: center;
  margin-right: 40px;
  background: #fff;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  -moz-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.button:hover {
  background-color: #03a9f4;
  color: #fff;
}
.link {
  width: 160px;
  font-size: 2.0rem;
  color: #60ccfd;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.link:hover {
  color: #03a9f4;
}
#blog-banner {
  width: 100%;
  height: 640px;
  position: absolute;
  z-index: 1;
  top: 140px;
  background-image: url("../img/ctcue-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 5%;
}
#blog-banner .overlay {
  width: 100%;
  height: 100%;
  background-color: #03a9f4;
  opacity: .15;
}
#blog .container {
  max-width: 780px;
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 40px;
  top: 150px;
  border: 1px solid #d3d3db;
}
#blog .back img {
  display: inline;
  margin-right: 10px;
}
#blog h1 {
  margin-top: 40px;
  margin-bottom: 20px;
}
#blog .post-title {
  margin-bottom: 10px;
  margin-top: 20px;
}
#blog .post-title a {
  color: #004e72;
}
#blog .read-more {
  font-size: 1.6rem;
}
#blog .post-meta {
  color: #999;
  margin-bottom: 20px;
}
#blog h3 {
  font-size: 2.0rem;
  color: #004e72;
  margin-bottom: 20px;
}
#blog h4 {
  color: #004e72;
  margin-bottom: 20px;
}
#blog p {
  max-width: 700px;
}
#blog pre {
  margin-bottom: 20px;
}
#blog code {
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 1.4rem;
  padding: 1px 3px;
  white-space: pre-wrap;
  border: 1px solid #e3edf3;
  background: #f7fafb;
}
#blog img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
#blog a {
  color: #03a9f4;
  text-decoration: none;
}
#blog ul {
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 1.6rem;
}
#blog ul ul {
  margin-bottom: 0;
}
#blog ol {
  font-size: 1.6rem;
  list-style-type: decimal;
  margin-left: 30px;
  margin-bottom: 20px;
}
#blog strong {
  font-weight: 500;
}
#blog em {
  font-style: italic;
}
#blog .keep-reading {
  font-weight: 500;
  margin: 20px 0;
}
#blog h2 {
  font-size: 2.6rem;
  color: #004e72;
  margin-bottom: 20px;
}
#blog p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
#blog blockquote {
  font-style: italic;
  border-left: 5px solid #004e72;
  padding-left: 20px;
}
#blog .post-content {
  margin-bottom: 40px;
  max-width: 700px;
  margin: 0 auto;
}
#blog .pagination {
  margin: 40px auto 0 auto;
  color: #999;
  text-align: center;
  max-width: 700px;
}
#blog .pagination .older-posts {
  float: right;
}
#blog .pagination .newer-posts {
  float: left;
}
#blog .post-header,
#blog .post-excerpt {
  max-width: 700px;
  margin: 0 auto;
}
#blog #contact {
  margin-top: 40px;
  background-image: none;
}
#blog .post-head {
  margin-top: 20px;
}
#blog .post-footer {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  border-top: 1px solid #d3d3db;
}
#blog .post-footer .author {
  float: left;
  width: 100%;
  margin: 20px 0;
}
#blog .post-footer .author h4 {
  color: #004e72;
  margin-bottom: 10px;
}
#blog .post-footer .author img {
  float: left;
  margin: 0 20px 0 0;
}
#blog .post-footer .share {
  float: left;
  width: 100%;
}
#blog .post-footer .share a {
  float: right;
}
#blog .post-footer .share a:before {
  font-size: 2.4rem;
}
